*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid blue; */

    }


body {
    background-image: url('assets/front-card.jpg');
}
/* the main container */

@media screen and (min-width: 800px) {
  .front-side,
  .back-side {
    width: 70%;
    height:max-content;
  }


.front-side,
.back-side {
  width: 254px;
  height: 411px;
  position: relative;
  /* adjust this to space out the cards */
  margin: 90px auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:lightblue;
}

/* .front-side{
} */

.name{
  display: grid;
  position: relative;
  margin-left:30px;
  padding: 10px

}

.secondary{
  display: grid;
  position: relative;
  margin-left:30px;

}

.icon-container{
  position:absolute;
  top: 150px;
  left: 30px;
  width:20%;
  margin: 0 auto;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "a"
  "b"
  "c";
  grid-gap: 20px;
}

.text-container{
  position:absolute;
  top: 100px;
  left: 50px;
}

/* .circle{
  background-image: url("/assets/circle.svg");
  grid-area: a;
} */


h3{
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}

h5{
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Roboto', sans-serif;

} 


/* svg styling */
/* .st0{display:none;} */
.st1{display:inline;}

svg{
  fill:purple;
}

#icon-fill{
  fill:none;
}



.svg-interaction:hover{
  fill:rgb(118, 27, 237);
  opacity: 0.5;
  animation:pulse; 
  animation-duration: 2s;
}